@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;

}
:root {
  --dominos-blue: #0055A5;
  --dominos-red: #E31837;
  --bg-white: #ffffff;
  --bg-light: #f9f9f9;
  --text-dark: #333333;
  --text-light: #666666;
  --border-color: #e0e0e0;
  --shadow-sm: 0 2px 8px rgba(0,0,0,0.08);
  --shadow-md: 0 4px 12px rgba(0,0,0,0.12);
  --standard-transition: all 0.3s ease;
}

body{
  min-height: 100vh;
  background-color: var(--bg-light);
  color: var(--text-dark);
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}
.flex-col{
  display: flex;flex-direction: column;
  gap: 10px;
}